<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.gspr01.mapper.UserMapper">
    <select id="findByUsername" resultType="com.example.gspr01.model.User" parameterType="string">
        SELECT t1.*
        FROM test_scma.tb_user t1
        WHERE user_id = '11'
    </select>
</mapper>
